.container {
    height: 100%;


}

.doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex: 0 1 auto;
    padding: 2rem;
}


.info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem;

    .page {
        color: white;
        font-size: 3rem;
    }

    img {
        transition: 0.3s ease;
        width: 50px;
        cursor: pointer;
    }

    .previous {
        img:hover {
            transform: translateX(-10px);
        }
    }

    .next {
        img:hover {
            transform: translateX(10px);
        }
    }

}

@media (max-width: 1100px) {

    .doctors {

        padding: .3rem;
    }

}