<div class="container">
    <div class="personal-info">
        <div class="full-name">
            <div class="name">{{patient.name}}</div>
            <div class="surname">{{patient.surname}}</div>
        </div>
        <div class="pesel">{{patient.pesel}}</div>
        <div class="birthday">{{patient.dateOfBirth}}</div>
        <div class="city">{{patient.city}}</div>
        <div class="address">{{patient.address}}</div>
    </div>

    <div class="appointments">
        <app-appointment></app-appointment>
    </div>

</div>