<div class="container">
    <div class="personal-info">
        <div class="profile-photo">
            <img src="./../../../assets/patient-male.png" *ngIf="patient?.sex==='M'">
            <img src="./../../../assets/patient-female.png" *ngIf="patient?.sex==='F'">

        </div>
        <div class="full-name">
            {{patient?.fullName}}
        </div>
        <div class="pesel">{{patient?.pesel}}</div>
        <div class="birthday">{{patient?.dateOfBirth}}</div>
        <div class="city">{{patient?.city}}</div>
        <div class="address">{{patient?.address}}</div>
    </div>

    <div class="appointments">
        Appointments:
        <app-add-appointment-button [patient]="patient"></app-add-appointment-button>
        <app-appointment *ngFor="let appointment of appointments" [appointment]="appointment"
            [fromPatient]="true"></app-appointment>
    </div>

</div>