.container {
    padding: 1rem 2rem;

    .full-name {
        display: flex;
        gap: 1rem;
        font-size: 2rem;
    }
}

.appointments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}