.container {
    height: 100%;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 0px 40px 0px 0px;
    font-family: 'Signika Negative', sans-serif;
}

ul {
    padding: 1rem;
    //padding-top: 100%;
    padding-left: 0.2rem;

}

.icon {
    padding: 20px;

    img {
        width: 100px;
    }
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

a:hover {
    color: black;
}

.active {
    a {
        color: black;
    }


}