<div class="container" [ngClass]="{'navbar-hidden': navbarDisabled}">
    <div class="icon" (click)="toggleNavbar()">
        <img src="./../../assets/clinic-cross.png" alt="">
    </div>
    <ul [ngClass]="{'ulHidden': navbarDisabled}">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/patients']"
                [queryParams]="{page:1}">Patients</a>
        </li>
        <li routerLinkActive="active"><a [routerLink]="['/doctors']" [queryParams]="{page:1}">Doctors</a></li>
        <li routerLinkActive="active"><a routerLink="/appointments" [routerLink]="['/appointments']"
                [queryParams]="{page:1}">Appointments</a></li>
    </ul>
</div>