.container {
    width: 800px;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 5fr 10fr;
    gap: 2rem;
    color: rgb(255, 254, 254);
    background: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    padding: .5rem;
    padding-left: .8rem;

}

.participants {
    display: flex;
    gap: 12rem;
}

// .doctor-fullname,
// .patient-fullname {
//     display: flex;
// }

.doctor,
.patient {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.id {
    width: 1rem;
}

.doctor-fullname,
.patient-fullname {
    width: 9rem;
}





.full-name {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-weight: 700;
    padding-right: 1rem;
}

.appointment-link {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
        border-radius: 30px;
        padding: 1px;
        background-color: rgba(3, 192, 192, 0.644);
        border: solid 1px rgba(3, 192, 192, 0.644);


    }

    .button:hover {
        transform: scale(1.07);
        cursor: pointer;

    }
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    div {
        border-radius: 30px;
        padding: 1px;
        background-color: rgba(3, 192, 192, 0.644);
        border: solid 1px rgba(3, 192, 192, 0.644);

        img {
            width: 28px;
        }
    }

    div:hover {
        transform: scale(1.07);
        cursor: pointer;
    }
}

a {
    img {
        width: 28px;
    }
}

.name,
.surname,
.date-of-birth,
.specialization {
    display: flex;
    align-items: center;
}


@media (max-width: 1100px) {
    .container {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .3rem;
        padding: .5rem;

    }

    .patient-fullname,
    .doctor-fullname,
    .date-of-birth {
        display: none;
    }


}