.container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 14fr;
}

.header {
    grid-column: 1/3;
}

.sidebar {
    grid-row: 2/3;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
}