<div class="container">
    <div class="personal-info">
        <div class="profile-photo">
            <img src="./../../../assets/doctor-male.png" *ngIf="doctor?.sex==='M'">
            <img src="./../../../assets/doctor-female.png" *ngIf="doctor?.sex==='F'">

        </div>
        <div class="details">
            <div class="full-name">
                {{doctor?.fullName}}
                <div class="edit"><button mat-button class="edit-button" (click)="onEditButtonClicked()">EDIT</button>
                </div>

            </div>
            <div class="birthday">Date of birth: {{doctor?.dateOfBirth | date:'yyyy-MM-dd' }}</div>
            <div class="specialization">Specialization: {{doctor?.specialization}}</div>
        </div>


    </div>
    <div class="appointments">
        Appointments:
        <app-add-appointment-button [doctor]="doctor"></app-add-appointment-button>
        <app-appointment *ngFor="let appointment of appointments" [appointment]="appointment"
            [fromDoctor]="true"></app-appointment>
    </div>