//display mode------------
.display {
    .profile-photo {
        img {
            width: 300px;
        }

    }

    .details {
        display: flex;
        gap: 2rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400px;

        color: rgb(255, 254, 254);
        background: rgba(0, 0, 0, 0.308);
        border-radius: 10px;
        padding: 1rem;

    }

    .down-wrapper {
        display: flex;
        flex-direction: column;
        gap: .7rem;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .edit-button {
        width: 150px;
        background-color: white;
    }

    .edit-button:hover {
        transform: scale(1.07);
    }

    .date,
    .specialization {
        font-size: 1.2rem;
    }

    .show-doctor,
    .show-patient {
        img:hover {
            transform: scale(1.07);
        }
    }
}




//------------------------


.container {
    display: flex;
    align-items: center;
    padding: 2rem;
}



.patient-info,
.doctor-info {
    display: flex;
    align-items: center;

    img {
        width: 55px;
    }
}

form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;


}

.placeholder-for-reset-button {
    width: 64px;
}


mat-form-field {
    padding-top: .68rem;

    width: 300px;
}

.calendar-card {
    width: 300px;
}


.full-name-input-wrapper {
    display: flex;

    align-items: center;

    .reset-btn:hover {
        transform: scale(1.07);
    }
}

.time {
    width: 280px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: solid 1px black;
}

.date-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.patient-search-results,
.doctor-search-results {
    display: flex;
    flex-direction: column;
    gap: .4rem;

}


.patient-search-result,
.doctor-search-result {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    color: rgb(255, 254, 254);
    background: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    padding: .6rem;

    .specialization {
        font-weight: 500;
        font-style: italic;
    }
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        font-size: 1.4rem;
    }
}

@media (max-width: 1100px) {

    .container {}

    .display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile-photo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 200px;
            }

        }
    }


    form {
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .full-name-input-wrapper {
        flex-direction: column;
    }

    .placeholder-for-reset-button {
        display: none;
    }

    .details {
        flex-direction: column;

        .wrapper {

            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 300px;

            color: rgb(255, 254, 254);
            background: rgba(0, 0, 0, 0.308);
            border-radius: 10px;
            padding: .4rem;

        }
    }



}