<div class="container">
    <div class="display" *ngIf="mode==='display'">
        <div class="details">

            <div class="profile-photo">
                <img src="./../../../assets/calendar.png">
            </div>
            <div class="wrapper">
                <div class="patient-info">
                    <a [routerLink]="['/patients',appointment?.patient._id]">
                        <div class="show-patient" *ngIf="appointment?.patient.sex==='M' "><img
                                src="./../../../assets/patient-male.png" alt="">
                        </div>
                        <div class="show-patient" *ngIf="appointment?.patient.sex==='F' "><img
                                src="./../../../assets/patient-female.png" alt="">
                        </div>
                    </a>
                    <div class="fullname">{{appointment?.patient.fullName}}</div>
                </div>

                <div class="doctor-info">
                    <a [routerLink]="['/doctors',appointment?.doctor._id]">
                        <div class="show-doctor" *ngIf="appointment?.doctor.sex==='M' "><img
                                src="./../../../assets/doctor-male.png" alt="">
                        </div>
                        <div class="show-doctor" *ngIf="appointment?.doctor.sex==='F' "><img
                                src="./../../../assets/doctor-female.png" alt="">
                        </div>
                    </a>
                    <div class="fullname">{{appointment?.doctor.fullName}}</div>
                </div>
                <div class="center">
                    <button mat-button class="edit-button" (click)="changeToEditMode()">edit</button>
                </div>


                <div class="down-wrapper">
                    <div class="date">Date: {{appointment?.date | date:'yyyy-MM-dd HH:mm'}}</div>
                    <div class="specialization">Doctor's specialization: {{appointment?.doctor.specialization}}</div>
                </div>
            </div>

        </div>

    </div>



    <div class="create" *ngIf="mode==='create' || mode==='edit'">
        <form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submit()">


            <div class="left">
                <div class="full-name-input-wrapper">
                    <mat-form-field>
                        <input matInput placeholder="doctor" formControlName="doctorFullName">
                    </mat-form-field>
                    <div class="placeholder-for-reset-button" *ngIf="!doctorChosen"></div>
                    <button mat-button color="primary" class="reset-btn" (click)="resetDoctor()"
                        *ngIf="doctorChosen">reset</button>
                </div>



                <div class="full-name-input-wrapper">
                    <mat-form-field>
                        <input matInput placeholder="patient" formControlName="patientFullName">
                    </mat-form-field>
                    <div class="placeholder-for-reset-button" *ngIf="!patientChosen"></div>
                    <button mat-button color="primary" class="reset-btn" (click)="resetPatient()"
                        *ngIf="patientChosen">reset</button>
                </div>


                <div class="doctor-search-results">
                    <div class="wrapper" *ngFor="let doctor of searchedDoctors">
                        <div class="doctor-search-result" (click)="chooseDoctor(doctor)" *ngIf="!doctorChosen">
                            <div class="full-name">{{doctor?.fullName}}</div>
                            <div class="specialization">{{doctor?.specialization}}</div>
                        </div>
                    </div>

                </div>

                <div class="patient-search-results">
                    <div class="wrapper" *ngFor="let patient of searchedPatients">
                        <div class="patient-search-result" (click)="choosePatient(patient)" *ngIf="!patientChosen">
                            <div class="full-name">{{patient?.fullName}}</div>
                            <div class="pesel">{{patient?.pesel}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right">
                <div class="date-picker">
                    <mat-card class="calendar-card" (click)="runValidator()">
                        <mat-calendar #calendar [(selected)]="selectedDate" [startAt]="selectedDate"></mat-calendar>
                    </mat-card>
                    <input type="time" #time class="time" formControlName="time">
                </div>
                <button mat-button color="primary" (click)="submit()" [disabled]="myForm.invalid">SUBMIT</button>
            </div>


        </form>
        <div class="notification-success" *ngIf="success">
            Appointment added successfully!
            <button mat-button color="primary" (click)="showNewAppointment()"> SEE APPOINTMENT</button>
        </div>
    </div>
</div>