<div class="container">

    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>


    <app-searchbar (resultsNarroved)="handlePatientsNarroved($event)"> </app-searchbar>

    <div class="patients">
        <app-add-new-person-button [mode]="'patient'"></app-add-new-person-button>
        <app-patient *ngFor="let patient of patients, let i =index" [patient]="patient"
            [index]="getIndex(i)"></app-patient>

    </div>

    <div class="pagination">
        <div class="info"> {{patientsCount}} of {{patientsFullCount}}</div>
        <div class="buttons">
            <div class="previous" (click)="previousPage()"> <img src="./../../assets/arrow-left.png"
                    alt="previous page"> </div>
            <div class="page">{{pageNumber}}</div>
            <div class="next" (click)="nextPage()"> <img src="./../../assets/arrow-right.png" alt="next page"> </div>
        </div>
    </div>
</div>