.container {
    width: 800px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    // background-color: rgba(245, 245, 245, 0.767);
    // box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.418);
    // border-radius: 10px;
    color: rgb(255, 254, 254);
    background: rgba(0, 0, 0, 0.308);
    border-radius: 10px;

    padding: .5rem;
    padding-left: .8rem;




}

.full-name,
.city,
.date-of-birth,
.pesel {
    width: 9rem; // Możesz dostosować tę wartość według potrzeb
}




.full-name {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-weight: 500;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    div {
        border-radius: 30px;
        padding: 1px;
        background-color: rgba(3, 192, 192, 0.644);
        border: solid 1px rgba(3, 192, 192, 0.644);

        img {
            width: 28px;
        }
    }

    div:hover {
        transform: scale(1.07);
        cursor: pointer;
    }
}

.name,
.surname,
.city,
.date-of-birth,
.pesel {
    display: flex;
    align-items: center;
}


//MEDIA QUERIES//
@media (max-width: 1100px) {
    .container {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .3rem;
        padding: .5rem;

    }

    .city,
    .date-of-birth {
        display: none;
    }


}